doctype html
html
  head
    title VR - Responsive vCard Template
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  body.theme_1(style="background: url('img/bg.jpg') center 0 no-repeat; background-size: cover; background-attachment: fixed;")
    // Loading Overlay
    .loading_overlay
      div
        img.loading(src='/images/loading.gif', alt='img')
    // /Loading Overlay
    block content
